asgiref==3.2.3
astroid==2.3.3
attrs==19.3.0
Automat==20.2.0
cffi==1.14.0
colorama==0.4.3
constantly==15.1.0
cryptography==2.8
cssselect==1.1.0
Django==3.0.4
django-password-reset==2.0
hyperlink==19.0.0
idna==2.9
incremental==17.5.0
isort==4.3.21
lazy-object-proxy==1.4.3
lxml==4.5.0
Markdown==3.2.1
mccabe==0.6.1
MouseInfo==0.1.2
numpy==1.18.1
pandas==1.0.3
parsel==1.5.2
Pillow==9.0.1
Protego==0.1.16
psutil==5.6.7
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAutoGUI==0.9.48
pycparser==2.19
PyDispatcher==2.0.5
PyGetWindow==0.0.8
PyHamcrest==2.0.0
pylint==2.4.4
PyMsgBox==1.0.7
pyOpenSSL==19.1.0
pyperclip==1.7.0
PyRect==0.1.4
PyScreeze==0.1.26
python-dateutil==2.8.1
PyTweening==1.0.3
pytz==2019.3
#pywin32==227
queuelib==1.5.0
Scrapy==1.8.0
service-identity==18.1.0
six==1.14.0
sqlparse==0.3.1
Twisted==19.10.0
typed-ast==1.4.1
w3lib==1.21.0
WMI==1.4.9
wrapt==1.11.2
xlrd==1.2.0
zope.interface==4.7.1
